// Colores principales
$primary-color: #4caf50
$secondary-color: #2196F3
$background-color: #f9f9f9
$background-color-light: #f9f9f9
$text-color: #333
$error-color: #f44336
$primary-color-light: lighten($primary-color, 20%) // Ajusta el porcentaje para obtener el tono deseado


// Fuentes y tamaños
$font-family: 'Roboto', sans-serif
$font-size-base: 16px

// Espaciados
$padding-base: 16px
$margin-base: 20px
$color-primary: #3498db
$font-size-base: 14px

// Colores secundários
$secondary-color: #2196F3
$secondary-color-light: lighten($secondary-color, 20%) // Definir una versión más clara
